/* esercizio n.1 */
.ex-1-square{
  transition: background 3s;
}

.ex-1-square:hover{
  background-color: red;
}

/* esercizio n.2 */
.ex-2-square{
  transition: width 3s linear 0s;
}

.ex-2-square:active{
  width: 300px;
}

/* esercizio n.3 */
.ex-3-square{
  transition: border-radius 2s linear 0s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

/* esercizio n.4 */
.ex-4-square{
  transition: background 1.5s linear 0s;
}

.ex-4-square:hover {
  background-color: #f5f5f5;
}

/* esercizio n.5 */
.ex-5-square{
  transition: transform 1.5s linear 0s;
}

.ex-5-square:hover {
  transform: scale(1.5);
}

.ex-5-square:active {
  transform: scale(0.5);
}

/* esercizio n.6 */
.ex-6-img:hover {
  filter:grayscale(1);
}

/* esercizio n.7 */
.ex-7-img{
  transition: filter 1.5s linear 0s;
}

.ex-7-img:hover {
  filter:grayscale(.6) sepia(.5);
}

/* esercizio n.8 */
.ex-8-img{
  transition: 1.5s;
}

.ex-8-img:hover {
  filter:grayscale(.6) sepia(.5);
  border-radius: 5%;
}

/* esercizio n.9 */
.ex-9-img{
  transition: 1.5s;
}

.ex-9-img:hover {
  filter:grayscale(.6) sepia(.5);
  border-radius: 5%;
  transform: scale(1.5);
}

/* esercizio n.10 */
.ex-10-icon {
    animation: fa-spin 1s linear infinite;
}
@keyframes fa-spin {
  0% {
    transform: rotate(1turn);
  }
}

/* esercizio n.11 */
.ex-11-icon:hover {
  animation: spinhover 2s linear;
}
@keyframes spinhover {
  0% {
    transform: rotate(0);
  }
  90% {
    transform: rotate(275deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* esercizio n.12 */
.ex-12-button:hover .ex-12-top-white{
  animation: move-left 2s linear;
}
@keyframes move-left {
  0% {
    left:10%
  }
  50% {
    left:calc(100% - 60px)
  }
  100% {
    left:10%
  }
}

.ex-12-button:hover .ex-12-bottom-white{
  animation: move-right 2s linear;
}
@keyframes move-right {
  0% {
    right:20%
  }
  50% {
    right:calc(100% - 60px)
  }
  100% {
    right:20%
  }
}

/* esercizio n.12 */
.ex-13-button:hover .ex-13-top-white{
  animation: move-left-last 3s linear;
}
@keyframes move-left-last {
  0% {
   left: 10%;
   top: -10px;
 }
 30% {
   left: calc(100% - 30px);
   top: -10px;
 }
 45% {
   left: calc(100% - 30px);
   top: calc(100% - 10px);
 }
 75% {
   left: -15px;
   top: calc(100% - 10px);
   width: 30px;
 }
 90% {
   width: 30px;
   left: -15px;
   top: -10px;
 }
 100% {
   left: 10%;
   top: -10px;
 }
}

.ex-13-button:hover .ex-13-bottom-white{
  animation: move-right-last 3s linear;
}
@keyframes move-right-last {
  0% {
   right: 10%;
   bottom: -10px;
 }
 30% {
   right: calc(100% - 15px);
   bottom: -10px;
   width: 30px;
 }
 45% {
   right: calc(100% - 15px);
   bottom: calc(100% - 10px);
   width: 30px;
 }
 75% {
   right: -30px;
   bottom: calc(100% - 10px);
 }
 90% {
   right: -30px;
   bottom: -10px;
 }
 100% {
   right: 10%;
   bottom: -10px;
 }
}
